<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/2a11017e98.js" crossorigin="anonymous"></script>
  <script src="main.js" defer></script>
  <title>예약페이지</title>

</head>

<body>

  <script>
    function toggleLoginIcons(element) {
      element.classList.toggle('login_active');
    }
  </script>

  <nav class="navbar">
    <div class="navbar_logo">
      <i class="fa-solid fa-dog"></i>
      <a href="">Pet</a>
    </div>

    <ul class="navbar_menu">
      <li><a href="index.html">HOME</a></li>
      <li><a href="reserve.html">예약</a></li>
      <li><a href="sitter.html">PET SITTER</a></li>
      <li><a href="place.html">주변 동반가능 장소</a></li>
      <li><a href="comments.html">이용 후기</a></li>
    </ul>

    <div class="navbar_more">
      <ul class="navbar_icons">
        <li onclick="toggleLoginIcons(this)">
          <i class="fa-solid fa-user"></i>
          <ul class="login_icons">
            <li><a href="n-login.html">일반 로그인</a></li>
            <li><a href="s-login.html">SITTER 로그인</a></li>
            <li><a href="n-join.html">일반 회원가입</a></li>
            <li><a href="s-join.html">SITTER 회원가입</a></li>
          </ul>
        </li>
        <li onclick="toggleLoginIcons(this)">
          <i class="fa-solid fa-square-phone"></i>
          <ul class="call_icons">
            <li><a href="#">010-xxxx-xxxx</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>

  <div class="img">
    <div class="reserve-bg">
      <div class="text">예약정보를 입력해주세요</div>
      <div class="form">
        <form>
          <dl>
            <dt>예약자성함</dt>
            <dd><input type="text" placeholder="이름 입력"></dd>
          </dl>

          <dl>
            <dt>예약 날짜</dt>
            <dd><input type="text" placeholder="예시 : 2023-06-30"></dd>
          </dl>

          <dl>
            <dt>예약 시간('분'단위로는 안됩니다)</dt>
            <dd><input type="text" placeholder="예시 : 12시~13시"></dd>
          </dl>

          <dl>
            <dt>반려동물종류/수</dt>
            <dd><input type="text" placeholder="예시 : 말티즈/2"></dd>
          </dl>

          <dl>
            <dt>주소</dt>
            <dd><input type="button" value="주소찾기"></dd>
          </dl>

          <dl>
            <dt>연락처</dt>
            <dd><input type="tel" placeholder="전화번호"></dd>
          </dl>

          <dl>
            <dt>희망하는 PET SITTER</dt>
            <dd>
              <input type="text" placeholder="이름입력">
              <p>
                <input type="checkbox" id="c1">
                <label for="c1">아무나 상관없음</label>
              </p>
            </dd>
          </dl>

          <dl>
            <dt>기타요청사항</dt>
            <dd><textarea placeholder="예시 : 산책싫어해요"></textarea></dd>
          </dl>
          <input type="submit" value="예약하기">
        </form>
      </div>
    </div>
  </div>
</body>

</html>