<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/2a11017e98.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
    <title>순천</title>

</head>

<body>

    <script>
        function toggleLoginIcons(element) {
            element.classList.toggle('login_active');
        }
    </script>

    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-solid fa-dog"></i>
            <a href="">Pet</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="index.html">HOME</a></li>
            <li><a href="reserve.html">예약</a></li>
            <li><a href="sitter.html">PET SITTER</a></li>
            <li><a href="place.html">주변 동반가능 장소</a></li>
            <li><a href="comments.html">이용 후기</a></li>
        </ul>

        <div class="navbar_more">
            <ul class="navbar_icons">
                <li onclick="toggleLoginIcons(this)">
                    <i class="fa-solid fa-user"></i>
                    <ul class="login_icons">
                        <li><a href="n-login.html">일반 로그인</a></li>
                        <li><a href="s-login.html">SITTER 로그인</a></li>
                        <li><a href="n-join.html">일반 회원가입</a></li>
                        <li><a href="s-join.html">SITTER 회원가입</a></li>
                    </ul>
                </li>
                <li onclick="toggleLoginIcons(this)">
                    <i class="fa-solid fa-square-phone"></i>
                    <ul class="call_icons">
                        <li><a href="#">010-xxxx-xxxx</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <div class="img">
        <div class="place-bg">
            <div class="text">전남 지역 동반가능 장소</div>


            <div class="button">

                <a href="https://map.naver.com/v5/search/%EB%8D%94%ED%95%84%EB%93%9C/place/1541674713?placePath=%3Fentry=pll%26from=nx%26fromNxList=true&c=15,0,0,0,dh"
                    target="_blank">
                    <button class="link">더 필드</button>
                </a>

                <a href="https://map.naver.com/v5/search/%EC%82%B0%EC%B1%85143/place/1095208461?placePath=%3Fentry=pll%26from=nx%26fromNxList=true&c=15,0,0,0,dh"
                    target="_blank">
                    <button class="link">산책 143</button>
                </a>

                <a href="https://map.naver.com/v5/entry/place/37236847?lng=127.5688208&lat=34.9327961&placePath=%2Fhome%3Fentry=plt&c=15,0,0,0,dh"
                    target="_blank">
                    <button class="link">독앤트리</button>
                </a>
            </div>
        </div>

    </div>


</body>

</html>